Repository python-diamond/Diamond, pull requests merged in 2022-07, with the labels that each got.

#245 Multi blackwhitelist
  src/collectors/hadoop/hadoop.py
  src/collectors/hadoop/test/fixtures/expected.pkl
  src/collectors/hadoop/test/testhadoop.py
  src/diamond/collector.py
Labels: type: enhancement, category: collector, collector: hadoop

#431 EventstoreProjectionCollector variable naming conflict fixed
  src/collectors/eventstoreprojections/eventstoreprojections.py
Labels: type: enhancement, category: collector, needs: documentation, collector: eventstoreprojections

#483 Add support for persistent disk naming for DiskUsage collector
  src/collectors/diskusage/diskusage.py
Labels: type: enhancement, category: collector, needs: improvement, needs: tests, needs: rebase, needs: documentation, collector: diskusage
