Repository python-diamond/Diamond, pull requests merged in 2022-08, with the labels that each got.

#383 handlers: handler for app enlight metrics
  src/diamond/handler/appenlight.py
Labels: type: enhancement, category: handler, needs: documentation, handler: appenlight

#371 Google pubsub handler
  LICENSE
  conf/diamond.conf.example
  conf/diamond.conf.example.windows
  src/diamond/handler/pubsub.py
Labels: type: enhancement, category: handler, needs: documentation, handler: google

#474 Allow to use multiple sockets for getting HAProxy stats.
  src/collectors/haproxy/haproxy.py
Labels: type: enhancement, category: collector, needs: tests, collector: haproxy
