Repository python-diamond/Diamond, pull requests merged in 2022-05, with the labels that each got.

#448 Adding publishing a metric with a certain timestamp to collectors.
  src/diamond/collector.py
Labels: type: enhancement, category: collector, needs: rebase

#504 Update InfluxDBHandler for post InfluxDB 0.9
  .travis.requirements.txt
  src/diamond/handler/influxdbHandler.py
  src/diamond/handler/test/testinfluxdbhandler.py
Labels: type: enhancement, category: handler, needs: rebase, handler: influxdb

#147 Add IPv6 support to IPCollector
  src/collectors/ip/ip.py
  src/collectors/ip/test/fixtures/proc_net_snmp6_1
  src/collectors/ip/test/fixtures/proc_net_snmp6_2
  src/collectors/ip/test/testip.py
Labels: type: enhancement, category: collector, needs: improvement, collector: ip
